.list-cell, .list-cell-item, .list-cell-num{
    width: 150px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color:rgb(45, 68, 68);
}
.list-cell-item{
    width: 400px;
}
.list-cell-num{
    width: 80px;
}
.int{
    text-decoration: line-through;
    color: red;
}