.main-container{
    width: 550px;
    height: 90vh;
    margin: 10px 10px;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 5px;
    overflow-y: hidden;
}
.input-form-container, .list-container{
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 1px 1px 5px grey;   
}

.list-container{
    height: 90%;
}
.hidden{
    display: none;
}
.line{
    width: 95%;
    border: 2px solid black;
    margin: 10px;
}
.add, .save{
    width: 150px;
    text-align: center;
    padding: 5px 25px;
    border-radius: 8px;
    font-size: 14px;
    margin: 20px;
   
}
.add:hover, .save:hover{
    background-color:lightgray;
    cursor: pointer;
}
.disabled{
    pointer-events: none;
    opacity: 70%;
}
.h1-list{
    text-align: center;
    font-size: 24px;
    letter-spacing: .5px;
    color:rgb(41, 39, 39);
}
table{
    width: 100%;
    position: relative;
}

.header-row, .list-row{ 
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 30px;
}
.change-item, .to-delete, .is-done{
    width: 150px;
    border: none;
    background-color: white;
    opacity: 85%;
}
.change-item:hover, .to-delete:hover, .is-done:hover{
    cursor: pointer;
    opacity: 1;
    scale: 1.2;
}
