.input-form{
    width: 500px;
    text-align: center;
    font-size: 16px;
    padding: 15px 5px;
}
.input-form > label{
    margin-right: 5px;
}
.change-input{
    width: 300px;
    border: 3px solid grey;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
}
.input-change-item{
    position: absolute;
    width: 200px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 5px;
    font-size: 14px;
}